<!DOCTYPE html>
<html lang="en">
  <%- include("templates/head")%>
  <body>
    <h1>Productos</h1>
    <% data.forEach(function(prod){ %>
    <div class="card" style="width: 18rem">
      <img src="<%=prod.thumbnail%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= prod.title %></h5>

        <p class="card-text">$<%= prod.price %></p>

        <a href="#" class="btn btn-primary">Detalles</a>
      </div>
    </div>
    <% })%>
  </body>
</html>
